---
# Database Name & Credentials for Telegraf Agent to write metrics
influxdb_database: 'database'
influxdb_username: 'username'
influxdb_password: 'password'

# Docker Variables for containers
docker:
  influxdb:
    username: 'administrator' # Influxdb Credentials
    password: 'password'
  grafana:
    admin_user: 'administrator' # Grafana Credentials
    admin_pass: 'password'