INFLUXDB_USERNAME={{ docker.influxdb.username }}
INFLUXDB_PASSWORD={{ docker.influxdb.password }}
GF_SECURITY_ADMIN_USER={{ docker.grafana.admin_user }}
GF_SECURITY_ADMIN_PASSWORD={{ docker.grafana.admin_pass }}